
# FVM Version Cache
.fvm/

# Melos
.melos_tool/
melos_outputs/

# Dart & Flutter
.dart_tool/
.packages
build/
coverage/
*.iml
.idea/

# Platform-specific
**/ios/Pods/
**/macos/Pods/
**/.symlinks/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Local env overrides
.melos_overrides.yaml

